{% extends 'base.html.twig' %}

{% block title %}Liste des Ateliers
{% endblock %}

{% block container %}
	<h1>Liste des Ateliers</h1>

	<table>
		<thead>
			<tr>
				<th>Liste des Ateliers</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			{% for atelier in ateliers %}
				<tr>
					<td>{{ atelier.libelle }}</td>
					<td>{{ atelier.description }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
