{% extends 'base2.html.twig' %}

{# titre de l'onglet #}
{% block title %}
	{{ titre }}
{% endblock %}

{% block container %}
	<h1 class="text-center" style="color:white;">Mot de passe oublié</h1>
	{# pour afficher un message en add flash #}
	{% for message in app.flashes('info') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}

	{# formulaire #}
	<div class="registerForm">
		{{ form(form)}}
		</div>

		<a href="{{ path('app_login')}}" style="color:white; font-weight:bold;">
			<i class="fas fa-arrow-left"></i>
			Retour</a>

	{% endblock %}

	{% block footer %}
		<footer class="homeFooter">
			Terence Mathieu & Béatrice Machalica | Dog Academy | 2021 Mentions légales
		</footer>
	{% endblock %}
