{% extends 'base2.html.twig' %}

{# titre de l'onglet #}
{% block title %}
	Mot de passe
{% endblock %}

{% block container %}

	{# formulaire nouveau mot de passe #}
	{{ form(form)}}

		<a href="{{ path('app_login')}}" style="color:white;">Retour à la connexion</a>

	{% endblock %}

	{% block footer %}
		<footer class="homeFooter">
			Terence Mathieu & Béatrice Machalica | Dog Academy | 2021 Mentions légales
		</footer>
	{% endblock %}
