{% extends 'base2.html.twig' %}

{# titre de l'onglet #}
{% block title %}
	Mot de passe
{% endblock %}


{% block container %}
	<h2 class="text-center" style="color:white;">Mot de passe oublié</h2>
	<div
		class="littleForm">

		{# formulaire nouveau mot de passe #}
		{{ form(form)}}

			<a href="{{ path('app_login')}}" style="color:white;">Retour à la connexion</a>

		</div>


	{% endblock %}
