{% extends 'base.html.twig' %}

{% block container %}
	<h1>Liste des maitres inscrits</h1>

	<table>
		<thead>
			<tr>
				<th>Nom et Prénom des Maitres</th>
				<th>Ville</th>
			</tr>
		</thead>
		<tbody>
			{% for maitre in maitres %}
				<tr>
					<td>
						<a href="{{ path('maitre_show', {'id': maitre.id}) }}">{{ maitre.nom ~ ' '~ maitre.prenom }}</a>
					</td>
					<td>{{ maitre.ville }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
