{% extends 'base.html.twig' %}

{% block title %}Liste des formations
{% endblock %}

{% block container %}
	<h1>Liste des formations</h1>

	<table>
		<thead>
			<tr>
				<th>Intitulé de la Formation</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			{% for formation in formations %}
				<tr>
					<td>{{ formation.nom }}</td>
					<td>{{ formation.description }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
