{% extends 'base2.html.twig' %}

{% block title %}DogAcademy
{% endblock %}

{% block container %}
	<h1 class="text-center">Conditions générales d'utilisation</h1>
	<p class="text-justify">Lorem, ipsum dolor sit amet consectetur adipisicing elit. At, eligendi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi ipsa, aperiam tempora corporis, hic distinctio alias quos nisi asperiores provident nostrum laboriosam perspiciatis repellat sit nemo placeat veritatis quibusdam fugit.</p>
	<p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, laudantium blanditiis? Consequatur quos, dolore earum mollitia quas deserunt libero eum facilis sapiente provident repudiandae sint. Illo quasi ipsa repellendus maiores! Voluptates aperiam eos fuga distinctio vero facilis tempora dolores quibusdam asperiores, consectetur numquam eligendi amet rem quo dolore labore, doloribus deserunt molestiae facere. Voluptate, sed!</p>
	<p class="text-justify">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae totam dolore consectetur. Corporis velit sunt cupiditate amet voluptas dolor aspernatur iure. Reprehenderit inventore voluptatibus excepturi tenetur sed voluptate, ipsam voluptates soluta quaerat quibusdam labore cupiditate quae quos, optio exercitationem mollitia sint similique ipsum nemo, possimus consequuntur dolores rerum quisquam. Et id expedita, suscipit tempora eaque ipsam dolores dolorum magnam impedit doloribus rerum odit officiis sint.</p>
	<p class="text-justify">
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum ipsam obcaecati, voluptatum veritatis molestiae consectetur laboriosam ut quia numquam voluptates doloribus officiis possimus aspernatur assumenda.</p>
{% endblock %}

{# footer #}
{% block footer %}
	<footer class="homeFooter">
		Terence Mathieu & Béatrice Machalica | Dog Academy | 2021 Mentions légales
	</footer>
{% endblock %}
