{% extends 'base2.html.twig' %}

{% block title %}DogAcademy
{% endblock %}

{% block container %}
	<div class="displayHomeTitle">
		<h1 id="homeTitle">Bienvenue sur DogAcademy</h1>
		<p>Connectez-vous ou inscrivez-vous pour consulter le site.</p>
	</div>
{% endblock %}
