{% extends 'base2.html.twig' %}

{% block title %}DogAcademy
{% endblock %}

{% block container %}
	<h2 class="text-center" style="color:white;">Les formations de DogAcademy</h2>
	<p style="color:white;">Voici les formations proposées par votre centre de formation pour chien DogAcademy. Pour plus d'informations ou vous inscrire veuillez contacter votre centre de formation au :
		<strong>03.88.27.28.85</strong>
		ou par mail
		<strong>contact@dogacademy.fr</strong>
	</p>

	{# liste des formations du centre #}
	<table class="table listeFormation">
		<thead>
			<tr>
				<th scope="col">Titre de la formation</th>
				<th scope="col">Intervenant(s)</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			{% for formation in formations %}
				<tr>
					<td>{{ formation.nom |capitalize }}</td>
					{% for user in formation.users %}
						<td>
							{{ user.prenom |capitalize ~ ' ' ~ user.nom |capitalize }}
						</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
