@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
* {
  box-sizing: border-box;
}
img {
  width: 100%;
}
.logo {
  width: 30px;
  height: 30px;
}
em {
  font-family: "Satisfy", cursive;
}
.flex {
  display: flex;
}
h1,
h2 {
  padding: 20px 0 20px 0;
}
body {
  margin: 0;
  padding: 0;
}

/* home */
.backgroundHomeSize {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}
.backgroundDog {
  background-image: url("../img/home.jpg");
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.listeFormation {
  color: white;
}

/* home Title */
.displayHomeTitle {
  position: absolute;
  top: 100px;
  font-family: "Roboto Slab", serif;
  color: white;
}
#homeTitle {
  font-size: 3rem;
}
.displayHomeTitle p {
  font-size: 1.5rem;
}

/* website header */
header {
  width: 100%;
}

/* banner */
.bannerFigure {
  position: relative;
  width: 60%;
  margin: auto;
}
.banner {
  height: 40vh;
  margin: 20px 0 10px 0;
  filter: drop-shadow(3px 1px 4px rgba(44, 44, 44, 0.7));
}
.figcaptionBanner {
  font-size: 1.3rem;
  position: absolute;
  top: 170px;
  right: 200px;
}

/* navbars */
.navbar {
  background-color: #e4e9ee !important;
}
.homeNavBar {
  background-color: rgba(34, 34, 34, 0.8) !important;
  color: white;
}
.logoSpan {
  color: rgba(0, 0, 0, 0.9);
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
  font-weight: bold;
}

/* forms */
form {
  padding: 20px 0 25px 0;
}
.littleForm {
  width: 65%;
  margin: auto;
}
.littleForm textarea {
  border: none !important;
  background-color: rgb(110, 110, 110) !important;
  color: white !important;
}
.text-muted {
  color: black !important;
}
.loginForm,
.registerForm {
  color: white;
}
.loginForm input {
  border: none !important;
  background-color: rgb(110, 110, 110) !important;
  color: white !important;
}
.registerForm input {
  border: none !important;
  background-color: rgb(110, 110, 110) !important;
  color: white !important;
}
/* table */
.descriptionInTable {
  width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.myButton {
  color: white !important;
  text-decoration: none !important;
  margin-bottom: 20px !important;
}
/* footers */
footer {
  width: 100%;
  height: 60px;
  margin-top: 55px;
  background-color: rgb(34, 34, 34, 0.9);
  color: white;
  font-family: "Roboto Slab", serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homeFooter {
  position: absolute;
  bottom: 0;
}
