@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
* {
  box-sizing: border-box;
}
img {
  width: 100%;
}
.logo {
  width: 30px;
  height: 30px;
}
body {
  margin: 0;
  padding: 0;
}
header {
  width: 100%;
  overflow: hidden;
}
.bannerFigure {
  position: relative;
}
.banner {
  height: 55vh;
  width: 100%;
}
h1 {
  margin-top: 25px;
}
.figcaptionBanner {
  font-size: 1.5rem;
  position: absolute;
  top: 170px;
  right: 290px;
}
.logoSpan {
  color: rgb(37, 37, 119);
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
  font-weight: bold;
}
