@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
* {
  box-sizing: border-box;
}
img {
  width: 100%;
}
.logo {
  width: 30px;
  height: 30px;
}
body {
  margin: 0;
  padding: 0;
}
header {
  width: 100%;
  overflow: hidden;
}
.bannerFigure {
  position: relative;
  width: 85%;
  margin: auto;
}
.banner {
  height: 50vh;
}
h1 {
  margin-top: 25px;
}
.figcaptionBanner {
  font-size: 1.5rem;
  position: absolute;
  top: 170px;
  right: 300px;
}
.logoSpan {
  color: rgb(37, 37, 119);
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
  font-weight: bold;
}
footer {
  width: 100%;
  height: 65px;
  background-color: rgb(40, 40, 40);
  color: white;
  font-family: "Roboto Slab", serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
