{% extends 'base.html.twig' %}

{% block title %}Liste des sessions{% endblock %}

{% block container %}
    <h1>Liste des sessions)</h1>


    <table>
        <thead>
            <tr>
                <th>Formation</th>
                <th>Places</th>
                <th>Date de début</th>
                <th>Date de fin</th>
            </tr>
        </thead>
        <tbody>
        {% for session in sessions %}
            <tr>
                <td>{{ session.formation_id.nom }}</td>
                <td>{{ session.nb_place }}</td>
                <td>{{ session.date_debut | date('d-m-Y') }}</td>
                <td>{{ session.date_fin | date('d-m-Y') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
