{% extends 'base.html.twig' %}

{% block title %}Listes des chiens
{% endblock %}

{% block container %}
	<h1>Liste des chiens inscrits</h1>

	<table>
		<thead>
			<tr>
				<th>Nom du chien</th>
				<th>Maitre</th>
			</tr>
		</thead>
		<tbody>
			{% for chien in chiens %}
				<tr>
					<td>{{ chien.nom }}</td>
					<td>{{ chien.maitre.prenom ~ ' '~ chien.maitre.nom }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
