{% extends 'base.html.twig' %}

{% block title %}Informations sur le chien
{% endblock %}

{% block container %}
	<h1>Informations sur le chien</h1>
	{# ajouter photo, race, date de naissance, age #}
	<table>
		<thead>
			<tr>
				<th>Nom du chien</th>
				<th>Maitre</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ chien.nom }}</td>
				<td>{{ chien.maitre.prenom ~ ' '~ chien.maitre.nom }}</td>
			</tr>
		</tbody>
	</table>
{% endblock %}
