{% extends 'base.html.twig' %}

{% block title %}Informations sur le chien
{% endblock %}

{% block container %}
	<h1>Informations sur le chien</h1>
	{# ajouter photo, race, date de naissance, age #}
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Nom du chien</th>
				<th scope="col">Maitre</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ chien.nom |capitalize }}</td>
				<td>{{ chien.maitre.prenom |capitalize ~ ' '~ chien.maitre.nom |capitalize }}</td>
			</tr>
		</tbody>
	</table>
{% endblock %}
