{% extends 'base.html.twig' %}

{% block title %}Liste des categories
{% endblock %}

{% block container %}
	<h1 class="text-center">Liste des catégories</h1>

	<table class="table">
		<thead>
			<tr>
				<th scope="col">Catégories des ateliers proposés</th>
			</tr>
		</thead>
		<tbody>
			{% for categorie in categories %}
				<tr>
					<td>{{ categorie.libelle |capitalize }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
