{% extends 'base.html.twig' %}

{% block title %}Liste des categories
{% endblock %}

{% block container %}
	<h1>Liste des catégories</h1>

	<table>
		<thead>
			<tr>
				<th>Catégories des ateliers proposés</th>
			</tr>
		</thead>
		<tbody>
			{% for categorie in categories %}
				<tr>
					<td>{{ categorie.libelle }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
